<div class="main container">
    <!-- items starts here -->
    <div class="items mx-3 mt-3">
        <form>
            <div class="input-group mb-3 input-group-lg">
                <input type="text" class="form-control" placeholder="search chats here ...">
                <div class="input-group-append hov">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </form>
        <p class="font-weight-bolder">Your recent chats</p>
    </div>
    <!-- items ends here -->
    <!-- item starts here -->
    <div class="main pb-5">
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
        <!-- item starts here -->
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
        <!-- item starts here -->
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
        <!-- item starts here -->
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
        <!-- item starts here -->
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
        <!-- item starts here -->
        <div class="item mx-3 hov" id="msg">
            <div class="row my-2">
                <div class="col-md-2 col-sm-2 col-4">
                    <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-md-9 col-sm-9 col-6 pt-3">
                    <h4>Your Name</h4>
                    <p><i class="far fa-check-circle"></i> Last Message sent...</p>
                </div>
                <div class="col-md-1 col-sm-1 col-2 pt-3 hov">
                    <div class="dropdown dropleft">
                        <i class="fas fa-ellipsis-v fa-2x dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i><span class="text-danger">
                                    Delete </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item ends here -->
    </div>
</div>
