<div class="footerbg text-center fixed-bottom">
    <div class="disp text-white">
        <i class="fas fa-home fa-2x hov" routerLink='home' routerLinkActive="active"></i>
        <i class="fas fa-user-friends fa-2x hov" routerLink='friends'></i>
        <i class="fas fa-search fa-2x hov" routerLink='search'></i>
        <i class="fas fa-clipboard fa-2x hov" routerLink='post'></i>
        <i class="fas fa-comments-dollar fa-2x hov" routerLink='chat'></i>
        <i class="fas fa-user-circle fa-2x hov" routerLink='profile'></i>
    </div>
</div>
