* {
    padding: 0;
    margin: 0;
}

.navbg {
    background: #000333;
}

.footerbg {
    background: #000333;
}

.disp {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.hov:hover {
    cursor: pointer;
}

.disp>.hov:hover {
    cursor: pointer;
}

.brdr {
    border: 1px solid lightgrey;
}

.main {
    height: 580px;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.main {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.items {
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}