<div class="container">
    <!-- items starts here -->
    <div class="items mx-3 mt-3">

        <div class="row my-2">
            <div class="col-md-2 col-sm-2 col-4">
                <img src="image/prof_pic.png" class="img-fluid" width="70" height="70">
            </div>
            <div class="col-md-9 col-sm-9 col-6 pt-3">
                <h4>Your Name</h4>
                <p>Active Status</p>
            </div>
            <div class="col-md-1 col-sm-1 col-2 pt-3">
                active
            </div>
        </div>

    </div>
    <!-- items ends here -->
    <!-- item starts here -->
    <div class="main pb-5">
        <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-signature"></i> Change Name </a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-image"></i> Update Profile
                Pic</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-unlock-alt"></i> Change or
                Update Password</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-edit"></i> Edit Post</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-users"></i> Add Social Media
                Accounts</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-power-off"></i> Log Out</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-skull-crossbones"></i>
                Deactivate Account</a>
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-times"></i> Delete Account
                Permanently</a>
        </ul>
    </div>
</div>